[user]
	email = epetermann@neighborly.com
	name = Emory Petermann
[core]
	editor = nvim -u ~/.config/nvim/git.vim
	pager = emojify | diff-so-fancy | less --tabs=4 -RF
	autocrlf = false
[commit]
  ;template = ~/.gitmessage
	cleanup = strip
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgd = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit develop..
[pull]
	rebase = true
[rerere]
	enabled = true
[diff-so-fancy]
	markEmptyLines = false
	stripLeadingSymbols = false
[diff]
  tool = vimdiff
  guitool = kitty.gui
[difftool]
  prompt=false
  trustExitCode = true
[difftool "kitty"]
  cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
  cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[rebase]
  autostash = true
[fetch]
  recurseSubmodules = true
[winUpdater]
	recentlySeenVersion = 2.19.1.windows.1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "vimdiff"]
	cmd = vimdiff -u NONE $LOCAL $REMOTE
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[branch]
	autosetuprebase = always
	autosetupmerge = always
[push]
	default = current
